<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Get Verbling groups from their API</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
        <div id="app">

            <h3 class="text-center">Get Verbling groups from their API</h3>

            Language:
            <select v-model="selectedLang">
                <option>EN</option>
                <option>DE</option>
                <option>FR</option>
            </select>

            <br></br>

            <span>Selected language: {{ selectedLang }}</span>

            <br></br>

            <button @click="getCurrentApi" type="button" class="btn btn-primary btn-block">
                Request URL's
            </button>

            <p></p>

            <div v-show="groups.length>0">
                <ul>
                    <li v-for="group in groups">
                        <a v-bind:href="group.hangout_url">
                        {{group.hangout_url}}</a> ({{group.google_participants.length}}/{{group.num_participants}})
                    </li>
                </ul>

                <button @click="openAllGroups" type="button" class="btn btn-primary btn-block">
                    Open all
                </button>
            </div>

            <h4>{{status}}</h4>

        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
        <script type="text/javascript" src="//cdn.socket.io/socket.io-1.4.5.js"></script>
        <script type="text/javascript" src="//unpkg.com/vue@2.1.10/dist/vue.js"></script>
        <script type="text/javascript" src="client.js"></script>
    </body>

</html>
